.landing {

    padding: 1rem 0.5rem;
    background-color: var(--bg-color);
}
.logo {
    padding: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.logo h1 {
    color: var(--blue-color);
}

.signing-on-landing{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.signing-on-landing > a {
    border: 1px solid var(--primary-dark-color);
    border-radius: 5px;
    padding: 0 1rem;
}

.intro-to-readsio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sign-up {
    background-color: var(--blue-color);
    color: var(--primary-light-color);
    border: 1px solid var(--primary-light-color) !important;

}

.intro-to-readsio p{
    padding: 1rem;
    text-align:justify;

}