nav {
    background-color: var(--primary-light-color);
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem 0;
}         

.signing {
    display: flex;
    gap: 1rem;
}

.signing > li {
    border: 1px solid var(--primary-dark-color);
    border-radius: 5px;
    padding: 0 1rem;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    
}
