@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



:root {
  padding: 0;
  font-family: var(--font-family) , Helvetica, system-ui, Avenir, Arial, serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgb(0, 0, 0);
  background-color: var(--bg-color);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale;

  --primary-light-color: #FFDBB5;
  --primary-dark-color: #603F26;
  --secondary-color: #6C4E31;
  --text-color: #000000;
  --bg-color: #FFEAC5;
  --blue-color: #223462;
  --font-family: 'Montserrat', sans-serif;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;


}



html {
  margin: 0;
  padding: 0;
  height: 100vh;
  box-sizing: border-box;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

main {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: none;
}


ul{
  list-style: none;
}


